<% provide(:title, 'Contact') %>

<div id="contact">
  <%= form_tag do %>
      <fieldset>
        <legend><h1>Contact</h1></legend>
        <div>
          <p><strong>Find me in Warsaw</strong></p>
        </div>

      </fieldset>
  <% end %>

</div>
