// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.places {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 7px;
    vertical-align: top;
  }

  .list_image {
    width:  120px;
    height: 90px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #e0f8f8;
  }

  .list_line_odd {
    background:   e333;
  }
}
.Center_places_edit {
  text-align: center;
}

.Center_places_new {
  text-align: center;
}

